$dark: rgb(31,27,46);
$primary: rgb(165, 8, 165);
$list-group-active-bg:              rgb(165, 8, 165);

$list-group-border-color:           transparent;
$list-group-border-width:           0px;


$accordion-border-width:                  0px;


@import "node_modules/bootstrap/scss/bootstrap";